<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-light" routerLink="/">
      <img src="../../../../assets/logo/logo.png" />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLink="/">
          <button mat-menu-item class="nav-link active text-light">
            <span>Trang chủ</span>
          </button>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown"
          *ngIf="currentUser.is_business"
        >
          <button
            ngbDropdownToggle
            mat-menu-item
            class="nav-link active text-light"
          >
            <span>QL Sản phẩm - Đơn hàng</span>
          </button>

          <ul
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li routerLink="/seller/product-management">
              <button mat-menu-item class="nav-link active text-center">
                <span>Quản lý sản phẩm</span>
              </button>
            </li>
            <li routerLink="/seller/order-management">
              <button mat-menu-item class="nav-link active text-center">
                <span>Quản lý đơn hàng</span>
              </button>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center">
        <button
          mat-icon-button
          class="mr-10"
          routerLink="/cart"
          *ngIf="isCurrentUserLogged"
        >
          <mat-icon
            [matBadge]="currentUser.cart_quantity"
            matBadgeColor="warn"
            color="white-icon"
            >shopping_cart</mat-icon
          >
        </button>
        <div *ngIf="isCurrentUserLogged">
          <span style="color: white; margin-left: 16px"
            >NOM Coin: {{ currentUser.balance | customcurrency }} đ</span
          >
        </div>
        <div *ngIf="!isCurrentUserLogged">
          <button mat-raised-button routerLink="/auth/login">
            <span class="text-primary">Đăng nhập</span>
          </button>
          <button mat-button routerLink="/auth/register">
            <span class="text-light">Đăng ký</span>
          </button>
        </div>
        <!--User Avatar-->
        <div *ngIf="isCurrentUserLogged">
          <img
            src="{{ currentUser.avatar }}"
            class="rounded-circle shadow-4"
            style="width: 30px; margin-left: 16px"
            alt="avatars"
            [matMenuTriggerFor]="menu"
          />
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/myaccount">
              <mat-icon>account_circle</mat-icon>
              <span>Tài khoản của tôi</span>
            </button>
            <button mat-menu-item routerLink="/purchase">
              <mat-icon>shopping_basket</mat-icon>
              <span>Đơn mua</span>
            </button>
            <button mat-menu-item (click)="onLogOut()">
              <mat-icon>input</mat-icon>
              <span>Đăng xuất</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
