<div class="tab-container">
  <mat-list>
    <mat-list-item><b>Thông tin chi tiết</b></mat-list-item>
    <mat-divider></mat-divider>
    <div class="row mt-4">
      <div class="col-5 d-flex justify-content-center">
        <div>
          <img
            [src]="currentUser.avatar"
            class="rounded-circle img-avatar"
            alt="avatar"
            *ngIf="!isEditAvatar"
          />
          <ngx-dropzone (change)="onImageSelect($event)" *ngIf="isEditAvatar">
            <ngx-dropzone-label>Avatar của bạn</ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngFor="let f of imageAvatarFileList"
              [removable]="true"
              (removed)="onImageRemove(f)"
            >
              <ngx-dropzone-label
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-preview>
          </ngx-dropzone>
          <div class="d-flex justify-content-center mt-2">
            <div>
              <button
                mat-stroked-button
                color="primary"
                (click)="onEditAvatar('EDIT')"
                *ngIf="!isEditAvatar"
              >
                <mat-icon>image</mat-icon> Thay đổi Avatar
              </button>
              <div>
                <button
                  mat-stroked-button
                  color="primary"
                  (click)="onEditAvatar('CLOSE')"
                  *ngIf="isEditAvatar"
                >
                  Đóng
                </button>
                <button
                  mat-stroked-button
                  color="primary"
                  (click)="onEditAvatar('SAVE')"
                  *ngIf="isEditAvatar"
                >
                  <mat-icon>save</mat-icon> Lưu
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div *ngIf="!isEditUserForm">
          <div class="row">
            <div class="col">
              <label class="d-flex align-items-center"
                ><b>Email</b
                ><img
                  style="margin-left: 4px"
                  *ngIf="isEmailVerified"
                  matTooltip="Đã xác thực"
                  src="../../../../../../assets/icons/ic_verified.png"
                />
                <img
                  style="margin-left: 8px"
                  *ngIf="!isEmailVerified"
                  matTooltip="Chưa xác thực"
                  src="../../../../../../assets/icons/ic_verify.png"
                  routerLink="/myaccount/verified#email"
                  (click)="onOpenVerifiedLink('EMAIL')"
                />
              </label>
              <p>{{ currentUser.email }}</p>
            </div>
            <div class="col">
              <label class="d-flex align-items-center"
                ><b>Số điện thoại</b
                ><img
                  style="margin-left: 4px"
                  *ngIf="isPhoneVerified"
                  matTooltip="Đã xác thực"
                  src="../../../../../../assets/icons/ic_verified.png" />
                <img
                  style="margin-left: 8px"
                  *ngIf="!isPhoneVerified"
                  matTooltip="Chưa xác thực"
                  src="../../../../../../assets/icons/ic_verify.png"
                  (click)="onOpenVerifiedLink('PHONE')"
              /></label>
              <p>{{ currentUser.phone_number }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label><b>Họ</b></label>
              <p>{{ currentUser.last_name }}</p>
            </div>
            <div class="col">
              <label><b>Tên</b></label>
              <p>{{ currentUser.first_name }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label><b>Địa chỉ</b></label>
              <p>{{ currentUser.address.full_address }}</p>
            </div>
          </div>
        </div>
        <form *ngIf="isEditUserForm" [formGroup]="userForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Số điện thoại</mat-label>
                <input matInput formControlName="phone_number" />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Họ</mat-label>
                <input matInput formControlName="last_name" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tên</mat-label>
                <input matInput formControlName="first_name" />
              </mat-form-field>
            </div>
          </div>
        </form>

        <form *ngIf="isEditUserForm" [formGroup]="addressForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Tỉnh</mat-label>
                <mat-select
                  formControlName="province_id"
                  (valueChange)="onChangeProvince($event)"
                >
                  <mat-option
                    *ngFor="let province of provinceList"
                    [value]="province.ProvinceID"
                  >
                    {{ province.ProvinceName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Quận - Huyện</mat-label>
                <mat-select
                  formControlName="district_id"
                  (valueChange)="onChangeDistrict($event)"
                >
                  <mat-option
                    *ngFor="let district of districtList"
                    [value]="district.DistrictID"
                  >
                    {{ district.DistrictName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Phường - Xã</mat-label>
                <mat-select
                  formControlName="ward_id"
                  (valueChange)="onChangeWard($event)"
                >
                  <mat-option
                    *ngFor="let ward of wardList"
                    [value]="ward.WardCode"
                  >
                    {{ ward.WardName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Tên đường</mat-label>
              <input
                matInput
                formControlName="street"
                placeholder="Nhập tên đường..."
              />
            </mat-form-field>
          </div>
        </form>

        <div class="d-flex justify-content-between">
          <div></div>
          <div>
            <button
              *ngIf="!isEditUserForm"
              mat-stroked-button
              color="primary"
              (click)="onSubmitUserDetailForm(true)"
            >
              <mat-icon>edit</mat-icon>
              Sửa thông tin
            </button>
            <button
              *ngIf="isEditUserForm"
              mat-button
              color="primary"
              (click)="onCloseForm()"
            >
              Đóng
            </button>
            <button
              *ngIf="isEditUserForm"
              mat-flat-button
              color="primary"
              (click)="onSubmitUserDetailForm(false)"
            >
              <mat-icon>save</mat-icon>
              Lưu
            </button>
          </div>
        </div>
      </div>
    </div>

    <mat-list-item><b>Mật khấu</b></mat-list-item>
    <mat-divider></mat-divider>
    <div class="row mt-4">
      <div class="col-5">
        <span>Hãy nhập mật khẩu mạnh để đảm bảo bảo mật !</span>
      </div>
      <div class="col-7">
        <form [formGroup]="changingPasswordForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Mật khẩu hiện tại</mat-label>
                <input
                  matInput
                  placeholder="Nhập mật khẩu hiện tại..."
                  formControlName="current_password"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Mật khẩu mới</mat-label>
                <input
                  matInput
                  placeholder="Nhập mật khẩu mới..."
                  formControlName="new_password"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline">
                <mat-label>Xác nhận mật khẩu</mat-label>
                <input
                  matInput
                  placeholder="Nhập lại mật khẩu hiện tại..."
                  formControlName="confirm_password"
                />
              </mat-form-field>
            </div>
          </div>
          <p *ngIf="isShowErrorMessage" class="error-text">
            {{ errorMessage }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div></div>
            <button
              mat-stroked-button
              color="primary"
              (click)="onSubmitChangingPasswordForm()"
            >
              Đổi mật khẩu
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-list>
</div>
