<div class="row" style="margin-top: 32px; margin-bottom: 32px">
  <div class="col d-flex justify-content-center">
    <img
      [src]="currentUser.avatar"
      class="rounded-circle"
      style="width: 150px; height: 150px"
      alt="Avatar"
    />
  </div>
  <div class="col">
    <div *ngIf="!isEditUserForm">
      <div class="row">
        <div class="col">
          <label><b>Email</b></label>
          <p>{{ currentUser.email }}</p>
        </div>
        <div class="col">
          <label><b>Số điện thoại</b></label>
          <p>{{ currentUser.phone_number }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label><b>Họ</b></label>
          <p>{{ currentUser.last_name }}</p>
        </div>
        <div class="col">
          <label><b>Tên</b></label>
          <p>{{ currentUser.first_name }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label><b>NOM Coin</b></label>
          <p>{{ currentUser.balance | customcurrency }} đ</p>
        </div>
      </div>
    </div>
    <form *ngIf="isEditUserForm" [formGroup]="userForm">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Số điện thoại</mat-label>
            <input matInput formControlName="phone_number" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Họ</mat-label>
            <input matInput formControlName="last_name" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tên</mat-label>
            <input matInput formControlName="first_name" />
          </mat-form-field>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-between">
      <div></div>
      <div>
        <button
          *ngIf="!isEditUserForm"
          mat-flat-button
          color="primary"
          (click)="onSubmitForm(true)"
        >
          Sửa thông tin
        </button>
        <button
          *ngIf="isEditUserForm"
          mat-button
          color="primary"
          (click)="onCloseForm()"
        >
          Đóng
        </button>
        <button
          *ngIf="isEditUserForm"
          mat-flat-button
          color="primary"
          (click)="onSubmitForm(false)"
        >
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
