.w-100 {
    width: 100%;
}

.mat-tab-body-content {
    overflow: hidden;
}

.tab-container {
    margin-top: 32px;
    margin-bottom: 32px;
}

.error-text {
    color: #f44336;
}

.img-avatar {
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
}
