<div class="main-layout-box">
  <mat-card class="mb-4">
    <div class="d-flex justify-content-between">
      <div class="product-pic">
        <img mat-card-md-image src="{{ productDetail.picture }}" />
      </div>
      <div class="product-info">
        <h1 class="product-name">
          {{ productDetail.name }}
        </h1>
        <mat-chip-list
          aria-label="category selection"
          *ngFor="let item of productDetail.categories"
        >
          <mat-chip color="primary" selected>{{ item.name }}</mat-chip>
        </mat-chip-list>
        <h3 class="product-sold-amount mt-3">
          Đã bán: {{ productDetail.sold_amount }}
        </h3>

        <div class="product-quantity mb-6 mt-4">
          <span class="mr-3">Số lượng</span>
          <quantity-input
            (ngModel)="(productQuantity)"
            (quantityChange)="onProductQuantityChange($event)"
          ></quantity-input>
        </div>
        <div class="product-action">
          <button mat-stroked-button color="primary" class="mr-8">
            Thêm vào giỏ hàng
          </button>
          <button mat-raised-button color="primary">Mua ngay</button>
        </div>
      </div>
    </div>
  </mat-card>

  <!--Product Owner-->
  <mat-card class="mb-4">
    <h2>Người bán</h2>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex product-owner align-items-center">
        <div class="mr-10">
          <img
            src="{{ productDetail.owner.avatar }}"
            class="rounded-circle shadow-4"
            style="width: 60px; height: 60px"
            alt="avatars"
          />
        </div>
        <div>
          <b>
            {{
              productDetail.owner.first_name +
                "&nbsp;" +
                productDetail.owner.last_name
            }}
          </b>
        </div>
      </div>
      <div><button mat-stroked-button color="primary">Xem Shop</button></div>
    </div>
  </mat-card>

  <!--Description-->
  <mat-card class="mb-4">
    <h2>Mô tả</h2>
    <p class="product-description">
      {{ productDetail.description }}
    </p>
  </mat-card>

  <!--Comment-->
  <mat-card>
    <h2>Đánh giá sản phẩm</h2>
    <div *ngIf="productDetail.rating_set.length > 0">
      <div *ngFor="let item of productDetail.rating_set">
        <div class="d-flex align-items-center">
          <div class="mr-10">
            <img
              src="{{ item.creator.avatar }}"
              class="rounded-circle shadow-4"
              style="width: 40px; height: 40px"
              alt="avatars"
            />
          </div>
          <div>
            <b>
              {{ item.creator.first_name + "&nbsp;" + item.creator.last_name }}
            </b>
          </div>
        </div>
        <div style="margin-left: 50px">
          <p class="mb-3">{{ item.comment }}</p>
          <p>Đánh giá: {{ item.rate }}/5</p>
          <!-- <form [formGroup]="commentForm">
            <ngx-star-rating
              [id]="'rating'"
              formControlName="rating"
            ></ngx-star-rating>
          </form> -->
        </div>
      </div>
    </div>
    <div *ngIf="productDetail.rating_set.length === 0">
      <p>Không có đánh giá cho sản phẩm này</p>
    </div>
  </mat-card>
</div>
