<div class="main-layout-box">
  <mat-card class="mb-4">
    <div class="d-flex justify-content-between">
      <div class="product-pic">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let item of carouselImageList">
            <img [src]="item" class="carosel-img" />
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="product-info">
        <h1 class="product-name">
          {{ productDetail.name }}
          <span style="font-size: 12px"
            >(Đã bán: {{ productDetail.sold_amount }} sản phẩm)
          </span>
        </h1>
        <mat-chip-list aria-label="category selection" class="d-flex">
          <mat-chip
            color="primary"
            selected
            *ngFor="let item of productDetail.categories"
            >{{ item.name }}</mat-chip
          >
        </mat-chip-list>

        <div class="product-quantity mb-4 mt-4 d-flex align-items-center">
          <div class="mr-3">Số lượng:</div>
          <div>
            <button
              mat-icon-button
              color="primary"
              (click)="onProductQuantityChange('MINUS')"
            >
              -
            </button>
            <input
              type="text"
              class="quantity-input"
              [(ngModel)]="productQuantity"
            />
            <button
              mat-icon-button
              color="primary"
              (click)="onProductQuantityChange('ADD')"
            >
              +
            </button>
          </div>
        </div>

        <div class="product-option mb-4 d-flex">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="option-radio-group"
            [(ngModel)]="optionItem"
            (change)="onChangeOptions($event)"
          >
            <mat-radio-button
              class="option-radio-button"
              *ngFor="let item of productDetail.option_set"
              [value]="item"
              [disabled]="item.unit_in_stock === 0"
            >
              <span
                ><b>{{ item.unit }}</b></span
              >
              <div>{{ item.price | customcurrency }} đ</div>
              <span style="font-size: 11px"
                >Còn {{ item.unit_in_stock }} sản phẩm</span
              >
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="product-action">
          <button
            mat-flat-button
            color="primary"
            class="mr-8"
            (click)="onAddProductToCart()"
          >
            <mat-icon>add_shopping_cart</mat-icon>
            Thêm vào giỏ
          </button>
          <!-- <button mat-raised-button color="primary">Mua ngay</button> -->
        </div>
      </div>
    </div>
  </mat-card>

  <!--Product Owner-->
  <mat-card class="mb-4">
    <h2>Người bán</h2>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex product-owner align-items-center">
        <div class="mr-10">
          <img
            src="{{ productDetail.owner.avatar }}"
            class="rounded-circle shadow-4"
            style="width: 60px; height: 60px"
            alt="avatars"
          />
        </div>
        <div>
          <b>
            {{
              productDetail.owner.first_name +
                "&nbsp;" +
                productDetail.owner.last_name
            }}
          </b>
        </div>
      </div>
      <div><button mat-stroked-button color="primary">Xem Shop</button></div>
    </div>
  </mat-card>

  <!--Description-->
  <mat-card class="mb-4">
    <h2>Mô tả</h2>
    <p class="product-description">
      {{ productDetail.description }}
    </p>
  </mat-card>

  <!--Comment-->
  <mat-card>
    <h2>Đánh giá sản phẩm</h2>
    <div class="mb-5" *ngIf="isCurrentUserLogged">
      <form [formGroup]="commentForm">
        <div class="row mb-2">
          <ngx-star-rating
            [id]="'rate'"
            formControlName="rate"
            style="width: fit-content"
          ></ngx-star-rating>
        </div>

        <div class="row mb-2">
          <div class="col">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Bình luận của bạn</mat-label>
              <input
                matInput
                formControlName="comment"
                placeholder="Nhập bình luận của bạn"
              />
              <mat-error
                *ngIf="commentForm.controls['comment'].errors?.['required']"
                ><strong>Bạn chưa nhập nội dung bình luận</strong></mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="onPostComment()">
          Đăng đánh giá
        </button>
      </form>
    </div>
    <div class="mb-5" *ngIf="!isCurrentUserLogged">
      Đăng nhập để đăng bình luận của bạn
    </div>

    <div *ngIf="productDetail.rating_set.length > 0" class="mt-3">
      <div *ngFor="let item of productDetail.rating_set">
        <div class="d-flex align-items-center">
          <div class="mr-10">
            <img
              src="{{ item.creator.avatar }}"
              class="rounded-circle shadow-4"
              style="width: 40px; height: 40px"
              alt="avatars"
            />
          </div>
          <div>
            <div>
              <b>
                {{
                  item.creator.first_name + "&nbsp;" + item.creator.last_name
                }}
              </b>
            </div>
            <span
              class="fa fa-star checked"
              style="font-size: 10px; color: orange; margin-right: 4px"
              *ngFor="let number of [].constructor(item.rate)"
            ></span>
          </div>
        </div>
        <div style="margin-left: 50px">
          <p class="mb-4 mt-3">{{ item.comment }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="productDetail.rating_set.length === 0">
      <p>Không có đánh giá cho sản phẩm này</p>
    </div>
  </mat-card>
</div>
