<div class="tab-container">
  <div class="row">
    <div class="col border-right">
      <p>
        Để xác thực số điện thoại, bạn cần nhấn vào nút "Gửi mã xác thực" bên
        dưới để lấy mã code !
      </p>
      <button mat-flat-button color="primary" (click)="sendToVerifiedPhone()">
        Gửi mã xác thực
      </button>
      <p *ngIf="isShowSendRequestCodeMessage">{{ requestCodeMessage }}</p>
    </div>
    <div class="col">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Mã xác thực</mat-label>
        <input
          matInput
          placeholder="Nhập mã xác thực của bạn"
          [formControl]="code"
        />
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" (click)="checkVerifiedPhone()">
          Xác thực số điện thoại
        </button>
      </div>
    </div>
  </div>
</div>
