<div class="main-layout-box">
  <h2>Giỏ hàng</h2>
  <div class="row mb-4">
    <div class="col"></div>
    <div class="col"><b>Tên sản phẩm</b></div>
    <div class="col"><b>Giá bán</b></div>
    <div class="col"><b>Số lượng</b></div>
    <div class="col"><b>Loại</b></div>
    <div class="col"><b>Thao tác</b></div>
  </div>

  <div class="cart-ticket-container" *ngFor="let item of cartList">
    <div class="seller-infor-container">
      <img
        src="{{ item.sellerAvatar }}"
        class="rounded-circle avatar-img"
        style="width: 35px; height: 35px"
        alt="avatars"
      />
      <span>{{ item.sellerFullName }}</span>
    </div>
    <div class="product-list-container">
      <div class="row" *ngFor="let el of item.productList">
        <div class="col">
          <mat-checkbox (click)="onSelectProduct(el)"> </mat-checkbox>
        </div>
        <div class="col">
          {{ el.name }}
        </div>
        <div class="col">{{ el.price | customcurrency }} đ</div>
        <div class="col">
          <input
            class="quantity-input"
            matInput
            placeholder="Nhập số lượng sản phẩm"
            value="{{ el.quantity }}"
            type="number"
            onKeyDown="return false"
            (change)="onChangeProductQuantityInCart($event, el.cartId)"
          />
        </div>
        <div class="col">
          {{ el.unit }}
        </div>
        <div class="col">
          <button
            matTooltip="Xóa sản phẩm"
            mat-icon-button
            color="warn"
            (click)="deleteProductInCart(el.cartId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <div>
      <span>Đã chọn: {{ countProduct }} sản phẩm</span>
      <button
        mat-flat-button
        color="warn"
        (click)="onDeleteManyProductInCart()"
        style="margin-left: 8px"
      >
        Xóa
      </button>
      <div class="d-flex align-items-center">
        <span>Thành tiền: {{ totalPrice | customcurrency }} đ</span>
      </div>
    </div>

    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="onBuyProductInCart()"
        style="margin-left: 8px"
      >
        Mua ngay
      </button>
    </div>
  </div>
</div>
