.table {
    width: 100%;

    & .mat-column-select {
        padding: 14px 4px;
        align-items: center;
    }

    & .mat-column-name {
        padding: 14px 4px;
        align-items: center;
    }

    & .mat-column-unit {
        padding: 14px 4px;
        align-items: center;
    }

    & .mat-column-price {
        padding: 14px 4px;
        align-items: center;
    }

    & .mat-column-quantity {
        padding: 12px 4px;
        align-items: center;
    }

    & .mat-column-action {
        padding: 5px 4px;
        align-items: center;
    }
}

.mat-card-footer {
    padding: 12px 16px;
}

.quantity-input {
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
}
