<div class="pin-chat-container" #pinChat>
  <div class="pin-chat-header" *ngIf="!toggleChat" (click)="onOpenChatBox()">
    <mat-icon class="icon"> chat</mat-icon>
    <p><b>Chat</b></p>
  </div>

  <!-- Main Chat Box  -->
  <div class="animation">
    <div class="title d-flex justify-content-between aligns-item-center">
      <div class="d-flex" style="align-items: center">
        <span style="margin-right: 4px"><b>Chat</b></span>
        <mat-icon class="icon"> chat</mat-icon>
      </div>

      <button mat-icon-button (click)="onCloseChatBox()">
        <mat-icon matTooltip="Thu nhỏ">minimize</mat-icon>
      </button>
    </div>
    <div class="chat-container">
      <!-- List chat room -->
      <div *ngIf="!chatRoomDetail">
        <div *ngFor="let item of chatRoomList">
          <div
            class="chat-group-container d-flex justify-content-between"
            (click)="onClickChatRoom(item.id)"
          >
            <div class="join-avatar-user">
              <img
                *ngFor="let user of item.user"
                [src]="user.avatar"
                class="rounded-circle"
                style="width: 20px; height: 20px"
              />
            </div>
            <div class="last-message d-flex" style="align-items: center">
              <div
                class="alert-new-message"
                *ngIf="item.last_message.content !== ''"
              ></div>
              <span style="margin-left: 8px">{{
                item.last_message.content || "Chưa có tin nhắn mới"
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Chat detail -->
      <div class="chat-detail-container" *ngIf="chatRoomDetail">
        <div
          class="d-flex aligns-item-center justify-content-between chat-information"
        >
          <div class="d-flex aligns-item-center">
            <mat-icon
              (click)="onGoBackToTheChatRoomList()"
              matTooltip="Quay về"
              style="margin-right: 8px"
              >arrow_back</mat-icon
            >
            <img
              *ngFor="let user of chatRoomDetail.user"
              [src]="user.avatar"
              class="rounded-circle"
              style="width: 20px; height: 20px"
            />
          </div>
          <div>
            <img
              src="../../../../assets/icons/ic_add-user .png"
              matTooltip="Thêm vào nhóm"
            />
          </div>
        </div>
        <div class="chat-detail-message">
          <div class="row">
            <!-- Current user is not the last send message person -->
            <div
              class="col d-flex aligns-item-center justify-content-start"
              *ngIf="!isCurrentUserIsSendLastMessage"
            >
              <img
                [src]="chatRoomDetail.last_message.creator.avatar"
                class="rounded-circle"
                style="width: 25px; height: 25px; margin-right: 8px"
                matTooltip="{{
                  chatRoomDetail.last_message.creator.last_name
                }} {{ chatRoomDetail.last_message.creator.first_name }}"
              />
              <div class="message-text-container">
                <span>{{ chatRoomDetail.last_message.content || "--" }} </span>
              </div>
            </div>

            <!-- Current user is the last send message person -->
            <div
              class="col d-flex aligns-item-center justify-content-end"
              *ngIf="isCurrentUserIsSendLastMessage"
            >
              <div class="message-text-container">
                <span>{{ chatRoomDetail.last_message.content || "--" }} </span>
              </div>
              <img
                [src]="chatRoomDetail.last_message.creator.avatar"
                class="rounded-circle"
                style="width: 25px; height: 25px; margin-left: 8px"
                matTooltip="{{
                  chatRoomDetail.last_message.creator.last_name
                }} {{ chatRoomDetail.last_message.creator.first_name }}"
              />
            </div>
          </div>
        </div>

        <div class="send-message-container">
          <form>
            <input
              [formControl]="messageSendControl"
              class="input-typing-message"
            />
            <button
              mat-icon-button
              color="primary"
              class="btn-send-message"
              (click)="sendMessageToChatRoom()"
            >
              <mat-icon>send</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
