<div class="main-layout-box">
  <h2>Đơn mua</h2>
  <mat-card class="mt-4 mb-6">
    <mat-card-content>
      <mat-tab-group
        mat-align-tabs="start"
        class="mt-4"
        (selectedTabChange)="onTabChange($event)"
        [selectedIndex]="tabIndex"
      >
        <mat-tab label="Tất cả">
          <app-all-purchase-tab *ngIf="tabIndex === 0"></app-all-purchase-tab>
        </mat-tab>
        <mat-tab label="Chờ xác nhận"
          ><app-pending-purchase-tab
            *ngIf="tabIndex === 1"
          ></app-pending-purchase-tab
        ></mat-tab>
        <mat-tab label="Đang giao"
          ><app-delivering-purchase-tab
            *ngIf="tabIndex === 2"
          ></app-delivering-purchase-tab
        ></mat-tab>
        <mat-tab label="Đã giao"
          ><app-received-purchase-tab
            *ngIf="tabIndex === 3"
          ></app-received-purchase-tab
        ></mat-tab>
        <mat-tab label="Đã hủy">Đã hủy</mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>
