<div class="main-layout-box">
  <mat-card class="mt-4 mb-6">
    <mat-card-title>Đơn mua</mat-card-title>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="start" class="mt-4">
        <mat-tab label="Tất cả">Tất cả</mat-tab>
        <mat-tab label="Chờ xác nhận">Chờ xác nhận</mat-tab>
        <mat-tab label="Chờ lấy hàng">Chờ lấy hàng</mat-tab>
        <mat-tab label="Đang giao">Đang giao</mat-tab>
        <mat-tab label="Đã giao">Đã giao</mat-tab>
        <mat-tab label="Đã hủy">Đã hủy</mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>
