<div class="main-layout-box">
  <mat-card>
    <div class="d-flex justify-content-between align-items-center">
      <div class="banner-image">
        <img src="../../../../assets/images/banner.png" />
      </div>
      <div class="form-container mt-5 mb-5">
        <h1>Quên mật khẩu</h1>
        <form [formGroup]="resetPasswordForm">
          <div class="row mb-3">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mật khẩu mới</mat-label>
                <input
                  matInput
                  formControlName="new_password"
                  placeholder="Nhập mật khẩu mới của bạn..."
                />
                <mat-error
                  *ngIf="resetPasswordForm.controls['new_password'].errors?.['required']"
                  ><strong>Mật khẩu mới là bắt buộc</strong></mat-error
                >
                <mat-error
                  *ngIf="resetPasswordForm.controls['new_password'].errors?.['pattern']"
                  ><strong>Mật khẩu mới không hợp lệ</strong></mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Xác nhận mật khẩu mới</mat-label>
                <input
                  matInput
                  formControlName="confirm_password"
                  placeholder="Nhập lại mật khẩu mới của bạn..."
                />
                <mat-error
                  *ngIf="resetPasswordForm.controls['confirm_password'].errors?.['required']"
                  ><strong>Xác nhận mật khẩu mới là bắt buộc</strong></mat-error
                >
                <mat-error
                  *ngIf="resetPasswordForm.controls['confirm_password'].errors?.['pattern']"
                  ><strong
                    >Xác nhận mật khẩu mới không hợp lệ</strong
                  ></mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex aligns-item-center">
            <button mat-flat-button color="primary" style="margin-right: 16px">
              Đặt lại mật khẩu
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
